body {
	background-color: #eeeeee;
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,Helvetica Neue,sans-serif;
	font-weight: 400;
	line-height: 1.55;
}

main {
	max-width: 30rem;
	margin: auto;
	display: grid;
    background-color: #ffffff
}

section {
	display: grid;
}